#!/usr/bin/env ruby

ignore '/**/_*.{scss,sass}'

compile '/**/*.{scss,sass}' do
    filter :sass, syntax: :scss, style: :compact
    write ext: '.css'
end

compile '/**/*.html' do
    layout '/standard.erb'
    write ext: '.html'
end

compile '/**/*.erb' do
    layout '/standard.erb'
    filter :erb
    write ext: '.html'
end

compile '/**/*.md' do
    layout '/standard.erb'
    filter :kramdown
    write ext: '.html'
end

layout '/*.erb', :erb

passthrough '/**/*'